@media screen and (max-width: 640px) {
    .oval {
        position: fixed;
        width: 120%;
        height: 500px;
        left: -10%;
        top: -276px;
    }
    .navbar-input{
        width: auto!important;
    }
}

.navbar-container {
    padding: 0.5rem 2.5rem;
}

.oval {
    position: fixed;
    width: 110%;
    height: 600px;
    left: -5%;
    top: -250px;
    background-image: linear-gradient(180deg, #9253C8 40.56%, #08121C 95.53%);
    border-radius: 40%;
}

.navbar-container .navbar-brand {
    display: flex;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
}

.navbar-container .brand {
    margin: auto auto auto 1em;
}

.logo-pic {
    height: 80px;
}

.avatar {
    height: 80px;
}

.input-group .form-control {
    width: 25em;
}

.actions {
    margin-left: 1em;
    font-family: 'Bebas Neue', cursive;
}

.btn-circle {
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

.btn-circle-xl {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 2.3rem;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.button-submit {
    background-color: white;
    border: 1px solid #ced4da;
    border-left: none;
    color: #495057;
}

.inputgroup .btn-primary:not(:disabled):not(.disabled).active, .input-group .btn-primary:not(:disabled):not(.disabled):active {
    color: #7244A0;
    background-color: white;
    border: 1px solid #ced4da;
    border-left: none;
}

.button-submit:focus,
.button-submit:hover {
    color: #7244A0;
    background-color: white;
    border: 1px solid #ced4da;
    border-left: none;
}

.button-upload {
    background-color: black;
}

.button-upload:focus,
.button-upload:hover {
    color: #7244A0;
    background-color: #212529;
    border: 1px solid #212529;
    outline: none;
    box-shadow: none !important;
}

.link-button .btn-primary:not(:disabled):not(.disabled).active, .link-button .btn-primary:not(:disabled):not(.disabled):active {
    color: #7244A0;
    background-color: #212529;
    border: 1px solid #212529;
}

