.NavBar {
    display: flex;
    background: #7244A0;
    justify-content: space-around;
}

.navbar-logo{
    display: flex;
}

.logo {
    height: 80px;
}

.avatar {
    height: 80px;
}

.PopupProfile {
    display: none;
    flex-direction: column;
}
